.hero {
    background-color: #2f303a;
    background-position: center;
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4)), 
      url("../images/hero-img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-title {
    @include font (44px, 900, 1.363);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 30px;
  
  }
  
  .hero-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
 